<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhuiyi.ms.learn.mapper.TExamPartMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zhuiyi.ms.learn.entity.TExamPart">
        <id column="exam_part_id" property="examPartId" />
        <result column="exam_id" property="examId" />
        <result column="index" property="index" />
        <result column="total_score" property="totalScore" />
        <result column="actual_score" property="actualScore" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        exam_part_id, exam_id, index, total_score, actual_score
    </sql>

</mapper>
