<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhuiyi.ms.learn.mapper.TPaperCategoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zhuiyi.ms.learn.entity.TPaperCategory">
        <id column="paper_category_id" property="paperCategoryId" />
        <result column="paper_category_name" property="paperCategoryName" />
        <result column="lft" property="lft" />
        <result column="rgt" property="rgt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        paper_category_id, paper_category_name, lft, rgt
    </sql>

    <select id="findAllWithDepth" resultType="com.zhuiyi.ms.learn.entity.TPaperCategory">
        SELECT node.paper_category_id, node.paper_category_name, node.lft, node.rgt, node.can_operate,  (COUNT(parent.paper_category_id) - 1) AS depth
        FROM t_paper_category AS node,
             t_paper_category AS parent
        WHERE node.lft BETWEEN parent.lft AND parent.rgt
        GROUP BY node.paper_category_id
        ORDER BY node.lft DESC;
    </select>

    <select id="findAllWithPaperCount" resultType="com.zhuiyi.ms.learn.entity.TPaperCategory">
        SELECT parent.paper_category_id, COUNT(t_paper.paper_id) as paperCount
        FROM t_paper_category AS node ,
             t_paper_category AS parent,
             t_paper
        WHERE node.lft BETWEEN parent.lft AND parent.rgt
          AND node.paper_category_id = t_paper.paper_category_id
        GROUP BY parent.paper_category_id
        ORDER BY node.lft;
    </select>

    <update id="updateForDelete">
        UPDATE t_paper_category SET rgt = rgt - #{width} WHERE rgt > #{rgt};
        UPDATE t_paper_category SET lft = lft - #{width} WHERE lft > #{rgt};
    </update>

    <update id="updateForCreate">
        UPDATE t_paper_category SET rgt = rgt + 2 WHERE rgt > #{parentLft};
        UPDATE t_paper_category SET lft = lft + 2 WHERE lft > #{parentLft};
    </update>


    <update id="moveNode">
        UPDATE t_paper_category SET lft = lft + #{width} WHERE lft &gt;= #{newPos};
        UPDATE t_paper_category SET rgt = rgt + #{width} WHERE rgt &gt;= #{newPos};

        UPDATE t_paper_category SET lft = lft + #{distance}, rgt = rgt + #{distance}
        WHERE lft &gt;= #{tmpPos} AND rgt &lt; #{tmpPos} + #{width};

        UPDATE t_paper_category SET lft = lft - #{width} WHERE lft &gt; #{oldRPos};
        UPDATE t_paper_category SET rgt = rgt - #{width} WHERE rgt &gt; #{oldRPos};
    </update>

</mapper>
