<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhuiyi.ms.learn.mapper.TSceneRuleCategoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zhuiyi.ms.learn.entity.TSceneRuleCategory">
        <id column="scene_rule_category_id" property="sceneRuleCategoryId" />
        <result column="scene_rule_category_name" property="sceneRuleCategoryName" />
        <result column="lft" property="lft" />
        <result column="rgt" property="rgt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        scene_rule_category_id, scene_rule_category_name, lft, rgt
    </sql>

    <select id="findAllWithDepth" resultType="com.zhuiyi.ms.learn.entity.TSceneRuleCategory">
        SELECT node.scene_rule_category_id, node.scene_rule_category_name, node.lft, node.rgt, node.can_operate,  (COUNT(parent.scene_rule_category_id) - 1) AS depth
        FROM t_scene_rule_category AS node,
             t_scene_rule_category AS parent
        WHERE node.lft BETWEEN parent.lft AND parent.rgt
        GROUP BY node.scene_rule_category_id
        ORDER BY node.lft DESC;
    </select>

    <select id="findAllWithSceneCount" resultType="com.zhuiyi.ms.learn.entity.TSceneRuleCategory">
        SELECT parent.scene_rule_category_id, COUNT(t_scene_rule.scene_rule_id) as sceneRuleCount
        FROM t_scene_rule_category AS node ,
             t_scene_rule_category AS parent,
             t_scene_rule
        WHERE node.lft BETWEEN parent.lft AND parent.rgt
          AND node.scene_rule_category_id = t_scene_rule.scene_rule_category_id
        GROUP BY parent.scene_rule_category_id
        ORDER BY node.lft;
    </select>

    <update id="updateForDelete">
        UPDATE t_scene_rule_category SET rgt = rgt - #{width} WHERE rgt > #{rgt};
        UPDATE t_scene_rule_category SET lft = lft - #{width} WHERE lft > #{rgt};
    </update>

    <update id="updateForCreate">
        UPDATE t_scene_rule_category SET rgt = rgt + 2 WHERE rgt > #{parentLft};
        UPDATE t_scene_rule_category SET lft = lft + 2 WHERE lft > #{parentLft};
    </update>

    <update id="moveNode">
        UPDATE t_scene_rule_category SET lft = lft + #{width} WHERE lft &gt;= #{newPos};
        UPDATE t_scene_rule_category SET rgt = rgt + #{width} WHERE rgt &gt;= #{newPos};

        UPDATE t_scene_rule_category SET lft = lft + #{distance}, rgt = rgt + #{distance}
        WHERE lft &gt;= #{tmpPos} AND rgt &lt; #{tmpPos} + #{width};

        UPDATE t_scene_rule_category SET lft = lft - #{width} WHERE lft &gt; #{oldRPos};
        UPDATE t_scene_rule_category SET rgt = rgt - #{width} WHERE rgt &gt; #{oldRPos};
    </update>

</mapper>
